# Git and CI
.git
.gitignore
.github

# Documentation
*.md

# Development
.vscode
.devcontainer
devcontainer.json
test
node_modules

# Assets not used at runtime
examples

# System and build artifacts
.DS_Store
Thumbs.db
*.log
